[user]
	email = daniel.forde001@gmail.com
	name = deforde
[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore
[alias]
	ss = status -s
	ll = log --all --decorate --oneline --graph
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
[includeIf "gitdir:~/dev/deforde/"]
	path = ~/dev/deforde/.gitconfig
[includeIf "gitdir:~/dev/3rdparty/"]
	path = ~/dev/3rdparty/.gitconfig
[diff]
	tool = nvimdiff
